* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, sans-serif,;
    text-align: center;
    list-style: none;
}

body {
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    background: #828282;
}

h1, p {
    margin: 0;
    padding: 15px;
}

.cont{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.box1, .box2 {
    width: 250px;
    height: 340px;
    border-radius: 20px;
    border: black solid 3px;
}
.input {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input h3 {
    margin: 5px 0;
}

.container {
    width: 800px;
    height: 750px;

    position: fixed;
    top: 42%;
    left: 45%;
    margin: -300px 0 0 -300px;

    border: solid black 3px;
    background: #AFC8AD;
    border-radius: 20px;
    
}

.header {
    margin: 5px;
    padding: 0;
    height: 75px;
    margin-bottom: 0px;
    font-size: 22px;
    background-color: #006989;
    color: #F9F9E0;
    border-radius: 20px;
    border: solid black 3px
    
}

.input-section {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.user-input-left {
    background: lightcoral;
    padding: 5%;
    width: 38;
    border-radius: 20px;
    border: black solid 3px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    color: #EEEDEB;
    font-weight: 700;
    margin-right: 20px ;
}
.picker {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 200px;
}
.input {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: lightcoral;
    border: black solid 3px;
    border-radius: 20px;
    padding: 5px;
    font-weight: 700;
    font-size: 18px;
    color: #F9F9E0;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}
.input input {
    width: 90%;
    height: 50px;
    height: 5px;
    margin: 10px;
    background-color: white;
}
.input input:hover {
    cursor: pointer;
}
.output-section {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.outputs {
    width: 40%;
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: lightcoral;
    border: black solid 3px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 20px;
    color: #F9F9E0;
    
}
.outputs button {
    width: 50%;
    height: 20px;
}

.shades {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    background: lightcoral;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    border: black solid 3px;
    width: 700px;
}

.display {
    border-radius: 7.5px;
    width: 100px;
    height: 249px;
    background: white;
    border: black solid 1px;
}

.shades1, .shades2, .shades3 {
    margin-right: 20px;
    padding: 0;
    border-radius: 5px;
    width: 50px;
    height: 170px;
    background: rgb(255, 255, 255);
    background: hsl(0%, 0%, 50%);
    border: black solid 1px;
}

.shades4, .shades5, .shades6 {
    margin-left: 20px;
    padding: 0;
    border-radius: 5px;
    width: 50px;
    height: 170px;
    background: white;
    border: black solid 1px;
}